{% for i in range(3)%}
  This is the {{ i }}th variable
  {{ inline_var }}
{% endfor %}
{# {-% endfor %}  use for no new line #}
{# this is a comment block #}

##########

{% for item in myList %}
  {{ item }}
{% endfor %}
